/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        new_combo {
            bindings = <&trans>;
            key-positions = <>;
        };
    };

    macros {
        aaa_ping: aaa_ping {
            compatible = "zmk,behavior-macro";
            label = "AAA_PING";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp I &kp N &kp G &kp SPACE &kp N8 &kp DOT &kp N8 &kp DOT &kp N8 &kp DOT &kp N8>;
        };
        aaa_email: aaa_email {
            compatible = "zmk,behavior-macro";
            label = "AAA_EMAIL";
            #binding-cells = <0>;
            bindings = <&none &kp C &kp Y &kp B &kp E &kp R &kp W &kp O &kp L &kp F &kp N8 &kp N8 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  `    |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESCAPE  &kp NUMBER_1  &kp N2         &kp N3    &kp N4    &kp N5                               &kp N6      &kp N7    &kp N8     &kp N9      &kp N0     &kp BACKSPACE
&kp TAB     &kp Q         &kp W          &kp E     &kp R     &kp T                                &kp Y       &kp U     &kp I      &kp O       &kp P      &kp LEFT_BRACKET
&kp GRAVE   &kp A         &kp S          &kp D     &kp F     &kp G                                &kp H       &kp J     &kp K      &kp L       &kp SEMI   &kp SINGLE_QUOTE
&kp LSHFT   &kp Z         &kp X          &kp C     &kp V     &kp B      &kp K_MUTE   &to 1        &kp N       &kp M     &kp COMMA  &kp PERIOD  &kp SLASH  &kp RSHFT
                          &kp LC(LCTRL)  &kp LWIN  &kp LALT  &lt 3 TAB  &lt 2 SPACE  &lt 2 ENTER  &lt 3 BSPC  &kp RALT  &kp RWIN   &kp RCTRL
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        lower_layer {
            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | `     |   1 |   2 |   3  |   4  |   5  |                   |   6  |   7   |   8   |   9  |    0  |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&kp ESCAPE  &kp NUMBER_1  &kp N2         &kp NUMBER_3  &kp N4    &kp N5                            &kp N6           &kp N7    &kp N8     &kp N9      &kp N0    &kp MINUS
&kp TAB     &kp Q         &kp W          &kp F         &kp P     &kp G                             &kp J            &kp L     &kp U      &kp Y       &kp SEMI  &kp NON_US_BACKSLASH
&kp GRAVE   &kp A         &kp R          &kp S         &kp T     &kp D                             &kp H            &kp N     &kp E      &kp I       &kp O     &kp SINGLE_QUOTE
&kp LSHFT   &kp Z         &kp X          &kp C         &kp V     &kp B      &kp K_MUTE  &to 0      &kp K            &kp M     &kp COMMA  &kp PERIOD  &kp FSLH  &kp RSHFT
                          &kp LC(LCTRL)  &kp LWIN      &kp LALT  &lt 3 TAB  &kp SPACE   &kp ENTER  &lt 3 BACKSPACE  &kp RALT  &kp RWIN   &kp RCTRL
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp PG_DN PAGE_UP>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |BTCLR| BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |     | INS  | PSCR | GUI   |       |      |                | PGUP |      |       |      |       |       |
            // |     | ALT  | CTRL | SHIFT |       | CAPS |                |  <-  |   ^  |   v   |  ->  |  DEL  | BKSPC |
            // |     | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //              |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&trans  &trans  &trans         &trans            &trans          &trans                                &aaa_ping              &aaa_email       &trans             &trans            &trans                &trans
&trans  &trans  &trans         &trans            &trans          &trans                                &trans                 &trans           &trans             &trans            &kp RIGHT_BRACKET     &kp NON_US_BACKSLASH
&trans  &trans  &kp LESS_THAN  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS                  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp GREATER_THAN  &kp MINUS             &kp EQUAL
&trans  &trans  &trans         &trans            &trans          &trans                &trans  &trans  &kp DEL                &trans           &trans             &trans            &kp NON_US_BACKSLASH  &trans
                &trans         &trans            &trans          &mo 4                 &trans  &trans  &mo 4                  &trans           &trans             &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOL_UP>,
                <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        Layer__3 {
            bindings = <
&trans  &kp F1      &kp F2     &kp F3          &kp F4       &kp F5                           &kp F6           &kp F7            &kp F8          &kp F9         &kp F10     &kp F11
&trans  &trans      &trans     &kp C_PREVIOUS  &kp C_PLAY   &kp K_NEXT                       &kp PG_UP        &kp HOME          &kp UP_ARROW    &kp END        &trans      &kp F12
&trans  &trans      &trans     &trans          &trans       &kp CAPSLOCK                     &kp PAGE_DOWN    &kp LEFT_ARROW    &kp DOWN_ARROW  &kp RIGHT      &kp DEL     &kp EQUAL
&trans  &kp K_UNDO  &kp K_CUT  &kp K_COPY      &kp K_PASTE  &kp PRINTSCREEN  &trans  &trans  &kp PRINTSCREEN  &kp K_CALCULATOR  &kp C_AL_MAIL   &kp K_EXECUTE  &kp K_FIND  &trans
                    &trans     &trans          &trans       &trans           &mo 4   &mo 4   &trans           &trans            &trans          &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOL_UP>,
                <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "bluetooth";
        };
    };
};
